# File ingestion
pdfminer.six==20231228
python-docx==1.1.0

# NLP
spacy==3.7.4

# ML & features
scikit-learn==1.4.2
sentence-transformers==2.7.0

# Data
pandas==2.2.2
numpy

# Web UI
streamlit

# Utilities
python-dotenv==1.0.1
requests